<p id="notice"><%= notice %></p>

<p>
  <strong>Employee email:</strong>
  <%= @employee.employee_email %>
</p>

<p>
  <strong>Employee phone:</strong>
  <%= @employee.employee_phone %>
</p>

<p>
  <strong>Employee zipcode:</strong>
  <%= @employee.employee_zipcode %>
</p>

<p>
  <strong>Employee first name:</strong>
  <%= @employee.employee_first_name %>
</p>

<p>
  <strong>Employee last name:</strong>
  <%= @employee.employee_last_name %>
</p>

<p>
  <strong>User:</strong>
  <%= @employee.user %>
</p>

<p>
  <strong>Employee bages:</strong>
  <%= @employee.employee_bages %>
</p>

<p>
  <strong>Employee description:</strong>
  <%= @employee.employee_description %>
</p>

<p>
  <strong>Employee experience years:</strong>
  <%= @employee.employee_experience_years %>
</p>

<p>
  <strong>Employee experience months:</strong>
  <%= @employee.employee_experience_months %>
</p>

<p>
  <strong>Employee lic number:</strong>
  <%= @employee.employee_lic_number %>
</p>

<p>
  <strong>Employee type:</strong>
  <%= @employee.employee_type %>
</p>

<p>
  <strong>Employee rating:</strong>
  <%= @employee.employee_rating %>
</p>

<p>
  <strong>Employee punctuality:</strong>
  <%= @employee.employee_punctuality %>
</p>

<p>
  <strong>Employee dependability:</strong>
  <%= @employee.employee_dependability %>
</p>

<p>
  <strong>Employee reliable transportation:</strong>
  <%= @employee.employee_reliable_transportation %>
</p>

<p>
  <strong>Employee accurate calendar:</strong>
  <%= @employee.employee_accurate_calendar %>
</p>

<p>
  <strong>Employee transportation:</strong>
  <%= @employee.employee_transportation %>
</p>

<p>
  <strong>Employee school:</strong>
  <%= @employee.employee_school %>
</p>

<p>
  <strong>Employee languages:</strong>
  <%= @employee.employee_languages %>
</p>

<p>
  <strong>Employee qualifications:</strong>
  <%= @employee.employee_qualifications %>
</p>

<p>
  <strong>Employee credentials:</strong>
  <%= @employee.employee_credentials %>
</p>

<p>
  <strong>Employee experience:</strong>
  <%= @employee.employee_experience %>
</p>

<p>
  <strong>Employee phone verified:</strong>
  <%= @employee.employee_phone_verified %>
</p>

<p>
  <strong>Employee email verified:</strong>
  <%= @employee.employee_email_verified %>
</p>

<p>
  <strong>Employee lic verified:</strong>
  <%= @employee.employee_lic_verified %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
