<p id="notice"><%= notice %></p>

<p>
  <strong>Class name:</strong>
  <%= @education_class.class_name %>
</p>

<p>
  <strong>Class type:</strong>
  <%= @education_class.class_type %>
</p>

<p>
  <strong>Class keywords:</strong>
  <%= @education_class.class_keywords %>
</p>

<p>
  <strong>Class date start:</strong>
  <%= @education_class.class_date_start %>
</p>

<p>
  <strong>Class date end:</strong>
  <%= @education_class.class_date_end %>
</p>

<p>
  <strong>Class time start:</strong>
  <%= @education_class.class_time_start %>
</p>

<p>
  <strong>Class time end:</strong>
  <%= @education_class.class_time_end %>
</p>

<p>
  <strong>Class worth:</strong>
  <%= @education_class.class_worth %>
</p>

<p>
  <strong>Reps:</strong>
  <%= @education_class.reps %>
</p>

<p>
  <strong>Class category:</strong>
  <%= @education_class.class_category %>
</p>

<p>
  <strong>Class url:</strong>
  <%= @education_class.class_url %>
</p>

<%= link_to 'Edit', edit_education_class_path(@education_class) %> |
<%= link_to 'Back', education_classes_path %>
