<p id="notice"><%= notice %></p>

<p>
  <strong>Employer name:</strong>
  <%= @employer.employer_name %>
</p>

<p>
  <strong>Employer zipcode:</strong>
  <%= @employer.employer_zipcode %>
</p>

<p>
  <strong>Employer phone:</strong>
  <%= @employer.employer_phone %>
</p>

<p>
  <strong>Employer url:</strong>
  <%= @employer.employer_url %>
</p>

<p>
  <strong>Employer email:</strong>
  <%= @employer.employer_email %>
</p>

<p>
  <strong>User:</strong>
  <%= @employer.user %>
</p>

<p>
  <strong>Employer street number:</strong>
  <%= @employer.employer_street_number %>
</p>

<p>
  <strong>Employer street:</strong>
  <%= @employer.employer_street %>
</p>

<p>
  <strong>Employer unit number:</strong>
  <%= @employer.employer_unit_number %>
</p>

<p>
  <strong>Employer city:</strong>
  <%= @employer.employer_city %>
</p>

<p>
  <strong>Employer state:</strong>
  <%= @employer.employer_state %>
</p>

<p>
  <strong>Employer office type:</strong>
  <%= @employer.employer_office_type %>
</p>

<%= link_to 'Edit', edit_employer_path(@employer) %> |
<%= link_to 'Back', employers_path %>
