= form_for @review, :html => { :class => 'form-horizontal form-model' } do |f|
  .form-group
    = f.label :review_rating, :class => 'control-label col-md-2'
    .col-md-10
      = f.text_field :review_rating, :class => 'text-field form-control'
  .form-group
    = f.label :review_description, :class => 'control-label col-md-2'
    .col-md-10
      = f.text_area :review_description, :class => 'text-field form-control'
  .form-group
    = f.label :review_employee_recommendation, :class => 'control-label col-md-2'
    .col-md-10
      = f.check_box :review_employee_recommendation, :class => 'text-field form-control'
  .form-group
    .col-md-offset-2.col-md-10
      = f.submit nil, :class => 'btn btn-primary'
      = link_to t('.cancel', :default => t("helpers.links.cancel")), |
        reviews_path, :class => 'btn btn-default'                    |
